*{
    margin: 0;
    padding: 0;
}
body {
  background-color: aquamarine;  
}
.calculatorBody {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

}
table{
    background-color: brown;
    box-shadow: rgba(0,0,0,0.1) 0px 10px 40px;
    border: 2px solid;
    border-collapse: collapse;
}
td{
    text-align: center;
    color:yellow;
    border: 2px solid;
}
input [type="button"]{
    width: 90px;
    height: 80px;
    color: #000;
    background-color: black;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    outline: none !important;
    border: none !important;
}
input [type="button"]:hover{
    background-color: aqua;
    outline: none;
}
input [type="text"]{
    width: 200px;
    height: 150px;
    text-align: right;
    margin: 5px;
    padding: 2px;
    outline:none !important;
    border: none !important;
    font-size: 30px;


}